<a href="https://colab.research.google.com/github/ycl818/Python/blob/main/Tuple_Method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuple

In [2]:
tuple1 = tuple()
tuple1

()

In [4]:
tuple1=(1,3,5,7,9)
tuple1

(1, 3, 5, 7, 9)

In [6]:
tuple2 =2,4,6
tuple2

(2, 4, 6)

In [7]:
tuple2.count( 2 )

1

In [8]:
tuple2.index( 6 )

2

##can recovered the value

In [27]:
tuple1 = 1,2,3
tuple1

(1, 2, 3)

In [28]:
tuple2 = 4,5
tuple2

(4, 5)

In [29]:
tuple1= tuple1 + tuple2
print(tuple1)

(1, 2, 3, 4, 5)

In [18]:
tuple3 = (6)
print(tuple3)

6

In [19]:
type(tuple3)

int

In [22]:
tuple3 = (6,)
type(tuple3)

tuple

In [30]:
tuple1= tuple1+tuple3
print(tuple1)

(1, 2, 3, 4, 5, 6)

In [31]:
tuple1 = tuple1 + (7,)
print(tuple1)

(1, 2, 3, 4, 5, 6, 7)

In [32]:
tuple1 = tuple1 +8

TypeError: ignored

In [36]:
list1 = list()
count=1
while True:
  num =int(input("please input no." + str(count) + " number"))
  if num== -9999:
    break
  list1.append( num )
  count+=1
tuple1= tuple(list1)
print(tuple1)
print("Length:",len(tuple1))
print("Max value:",max(tuple1))
print("Min value:",min(tuple1))
print("Sum: ",sum(tuple1))

please input no.1 number10
please input no.2 number15
please input no.3 number55
please input no.4 number-96
please input no.5 number77
please input no.6 number23
please input no.7 number26
please input no.8 number-9999
(10, 15, 55, -96, 77, 23, 26)
Length: 7
Max value: 77
Min value: -96
Sum:  110